version: 2.1
jobs:
  project_build:
    docker:
      # specify the version you desire here
      #- image: circleci/openjdk:11-jdk
      - image: azul/zulu-openjdk:11

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:      
      - checkout

      - run:
          name: "install tools"
          command: |
              apt-get update -y
              apt-get install -y unzip zip curl screen

      - run:
          name: "install kotlin"
          command: |
              curl -s https://get.sdkman.io | bash
              source "/root/.sdkman/bin/sdkman-init.sh" && sdk install kotlin && type kotlin
              echo 'export KOTLIN_ROOT=/root/.sdkman/candidates/kotlin/current' >> $BASH_ENV
              echo 'export PATH=$PATH:$KOTLIN_ROOT/bin' >> $BASH_ENV
              source $BASH_ENV
              echo $KOTLIN_ROOT

      # about Kotlin
      - run: kotlin -version

      - run:
          name: "Run The Application with Gradle"
          command: |
              ./gradlew -q check
              screen -d -m -s "webapp_on_project" ./gradlew -q bootRun

  docker_build:
    machine: true
      # image: ubuntu-2004:202010-01

    steps:      
      - checkout

      - run: 
          name: "install tools"
          command: |
            cat /etc/*-release
            sudo apt update -y
            sudo apt install curl wget netcat -y

      - run:
          name: "create a docker image"
          command: |
              ./gradlew -q bootBuildImage --imageName=gradle_kotlin/basic_xxx

      - run:
          name: "start web server with web app"
          command: |
              docker run -d --name=xxx_gradle_kotlin_container -p 80:8080 gradle_kotlin/basic_xxx

      - run:
          name: "browse the website"
          command: |
              sleep 10 && nc -vz localhost 80
              curl localhost:80/api/books
      - run:
          name: "insert/update/delete a record and browse the website"
          command: |
              curl localhost:80/api/books/1
              curl localhost:80/api/books/title/Ruby
              curl -X DELETE localhost:80/api/books/2
              curl localhost:80/api/books

      - run:
          name: "stop web server on docker"
          command: |
              docker stop xxx_gradle_kotlin_container

workflows:
  build:
    jobs:
      - project_build
      - docker_build
